*{
    margin: 0px;
    padding: 0px;
}
.body{
    background-color: rgb(155, 155, 188);
    height: 500px;
    width: 450px;
    margin-top: 80px;
    /* border-radius: 50px; */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 50px;
}
.head{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    /* margin-top: 10px; */
}
input{
    border: 2px solid blue;
    width: 350px;
    /* height: 50px; */
    padding: 10px;
    /* border-radius: 17px; */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}
form{
    /* border: 2px solid black; */
    height: 250px;
    
}
.input2{
margin-top: 10px;
}
.input1{
    margin-top: 50px;
}
button{
    margin-top: 30px;
    width: 130px;
    border: none;
    height: 40px;
    font-size: 20px;
    /* border-radius:17px;  */
    background-color:greenyellow;
    color: white;
}
a{
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
    font-size: 22px;
}

.final{
    background: black;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
    height: 40vh;
}
.final1{
    width: 30%;
    margin-top: 30px;
    margin-left:35px;
    height: 30vh;
    /* border: 2px solid blue  ; */
}
#final{
    /* margin-top:50px; */
    text-transform:capitalize;
    /* border: 2px solid blue; */
    text-decoration: solid;
    text-align: center;
    color: #a9abb2;
}

#k span {
  text-transform: capitalize;
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
  font-size: 15px;
  display: block;
  /* border: 2px solid blue; */
  color: white;
}
footer{
    height:40px;
    border: 2px solid black;
    background: black;
    text-align: center;
    box-sizing: border-box;
    
}