*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.preloader{
    background-color: rgba(128, 128, 128, 0.238);
    height: 100vh;
    text-align: center;
}
.text{
    margin-top: -60px;
}
.container{
    height: 90vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction:row ;
   }
.div1{
    height: 85vh;
    background-color: white;
    width: 55%;
}
.div2{
    box-sizing: border-box;
    height: 85vh;
    width: 45%;
}

ul{
    display: flex;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    float: right;
    margin-right: 60px;
}
ul li{
    list-style-type: none;
    padding: 10px;
    text-transform: capitalize;
    font-style: unset;
    font-weight: bold;
}
.pi a{
    color: black;
    text-decoration: none;
}
.sign{
  text-align: center;
    background-color: black;
    color: white;
    width: 100px;
    cursor:pointer;
}
.sign a{
    color: white;
    text-decoration: none;
}
span{
  text-transform: uppercase;
 font-size: 25px;
}
.div11{
    margin-top: 80px;
    height: 85%;
    /* border: 2px solid black; */
    box-sizing: border-box;
}
h1{ 
    /* text-transform: uppercase; */
    height: 40px;
    width: 400px;
    color: black;
    text-align: center;
   border-radius: 40px;
    /* background: black; */
    margin-left: 50px;
}
h6 a{
    margin-left: 50px;
    font-size: 23px;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    color: #686b78;
}
button {
    /* margin-left: 150px; */
    width: 300px;
    height: 40px;
    align-items: center;
    border: 2px solid orange;
    /* color: black; */
    font-size: 20px;
    cursor: pointer;
    /* text-transform: uppercase; */
}
button a{
    /* color: black; */
    text-transform: uppercase;
    color:black;
    text-decoration: none;
}
button:hover{
    background-color:rgb(215, 208, 208) ;
}
#changing{
font-size: 30px;
}
p {
    color: #a9abb2;
    margin-left: 50px;
    text-transform: capitalize;
    font-weight: 100;
    margin-top: 25px;
    font-size: 20px;

}
.div3{
    background-image: url("images/back.jpg");
    /* background-repeat: no-repeat; */
    height: 60vh;
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    /* border: 2px solid black; */
}
.div31{
    height: 50vh;
    /* background-color: white; */
    width: 30%;
    margin-left: 35px;
    /* color: white; */
    /* border: 2px solid blue;   */
    margin-top: 40px;
    /* border: 2px solid black; */
}
.final{
    background: black;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
    height: 40vh;
}
.final1{
    width: 30%;
    margin-top: 30px;
    margin-left:35px;
    height: 30vh;
    /* border: 2px solid blue  ; */
}
#final{
    text-transform:capitalize;
    /* border: 2px solid blue; */
    text-decoration: solid;
    text-align: center;
    color: #a9abb2;
}

#k span {
  text-transform: capitalize;
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
  font-size: 15px;
  display: block;
  /* border: 2px solid blue; */
  color: white;
}
footer{
    height:40px;
    border: 2px solid black;
    background: black;
    text-align: center;
    box-sizing: border-box;
    
}